#pin-container {
  top: 0;
  position: fixed;
  z-index: 20;
  overflow-y: scroll; /* Activa el scroll solo dentro del modal */
  background-color: white;
  height: 100vh;
  width: auto;
  gap: 20px;
}

.top-container {
  padding-top: 40px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  top: 40%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.pin-showcase {
  position: relative;
  display: flex;
  flex-direction: row;
  top: 0;
  width: 70%;
  height: 500px;
  border-radius: var(--higher-radius);
  border: solid 1px var(--light-gray);
  font-family: Circular;
  overflow: hidden;
}

/* Reseteamos el comportamiento del botón */
.pin-img-container {
  position: relative;
  border-radius: var(--higher-radius);
  display: flex;
  max-width: 400px;
  height: 100%;
  background-color: var(--light-gray);
}

.pin-img-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: var(--light-gray);
  border-radius: 50%;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(177, 177, 177);
  transition: all 0.4s;
}

.button.arrow {
  cursor: pointer;
  /*Ajuste óptico*/
}
.button.expand {
  z-index: 10;
  position: absolute;
  background-color: white;
  bottom: 15px;
  right: 20px;
  cursor: pointer;
}

.button.expand img {
  position: relative;
  left: 0.2px;
  width: 50%;
}

.pin-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  width: 50%;
  height: 100%;
}

.pin-data p::first-letter {
  text-transform: uppercase;
}
.expanded-img {
  display: flex;
  justify-content: center;
  z-index: 100;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: gray;
}

.expanded-img img {
  width: auto;
  height: 100%;
}
