@font-face {
  font-family: "Circular";
  src: url("./assets/fonts/Circular.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto.woff2") format("woff2");
}

:root {
  --light-gray: #dddddd;
  --dark-gray: #252525;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
