@import url("https://use.typekit.net/qzi0yho.css");
nav {
  position: fixed;
  z-index: 20;
  top: 0;
  height: 100%;
  width: 80px;
  padding: 25px;
  border-right: 1px solid var(--light-gray);

  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  ul > div {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
  }
  ul li:hover {
    background-color: var(--light-gray);
    border-radius: 5px;
    cursor: pointer;
  }
  ul img {
    width: 20px;
  }

  .logo {
    img {
      width: 25px;
    }
  }
  .logo:hover {
    border-radius: 30px;
  }
}

.hoverInfo {
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 10px;
  left: 90px;
  background-color: var(--dark-gray);
  color: white;
  padding: 5px 10px;
  font-family: Roboto, sans-serif;
  white-space: no-wrap;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  nav {
    width: 100%;
    top: 90%;
    height: 80px;
    background-color: white;
    border-top: 1.5px solid var(--light-gray);
  }
  nav ul {
    flex-direction: row;
  }

  ul div {
    flex-direction: row !important;
  }
}
